[
//python IDE
{ "keys": ["f5"], "caption": "SublimeREPL: Python",
        "command": "run_existing_window_command", "args":
        {
            "id": "repl_python",
            "file": "/usr/bin/python"
        }
    },
    //chrome
    { "keys": ["f1"], "command": "side_bar_files_open_with",//[]中输入你要使用的快捷键组合
            "args": {
                "paths": [],
                "application": "/usr/bin/google-chrome-stable",//设置你要使用的浏览器路径，自行百度应用路径查找，记得粘贴过来的路径是单‘\’你需要添加为双‘\’;


                "extensions":".*"
            }
     },
     { "keys": ["shift+enter"], "command": "run_macro_file", "args": {"file": "res://Packages/Default/Add Line.sublime-macro"} },
//python结果
{ "keys": ["f2"], "caption": "SublimeREPL: Python - RUN current file",
                      "command": "run_existing_window_command", "args":
                      {
                           "id": "repl_python_run",
                           "file": "/usr/bin/python"
                      }
    },
    { "keys": ["ctrl+w"], "command": "find_under_expand" },
    { "keys": ["ctrl+d"], "command": "duplicate_line" },
  { "keys": ["ctrl+alt+n"], "command": "advanced_new_file_new"},
  {"keys":["home"], "command":"move_to", "args":{"to":"bol"} },
{"keys":["end"], "command":"move_to", "args":{"to":"eol"} },
  { "keys": ["ctrl+shift+f10"], "command": "build" },
]
